<style type="text/css">
	md-sidenav {
		height: 1100px; 
		width:70px; 
		background-color: black;
		float: left; 
		text-align: center; 
		vertical-align: center;
		i{
		    position: relative;
		    padding-top: 1;/*5px;
		    padding-bottom: 15px;*/ 
		  }
	}

</style>

<!-- START OF SIDENAV -->

  <md-sidenav   layout="column"  class="md-sidenav-left md-whiteframe-z2" opened="true"   md-is-locked-open="$mdMedia('gt-md')" >
            <md-list>  

              <md-item ng-repeat="item in menu" md-ink-ripple layout="column" class="md-padding">
	                <a ui-sref="dash">
                  	 <md-tooltip
			              md-direction="right">
			              Dashboard
	                </md-tooltip>
                  <md-item-content >
                    <!-- <div class="inset"> -->
                      <!-- <md-button class="md-no-focus"> -->
                        <i class="material-icons">{{item.icon}}</i>
                      <!-- </md-button> -->
                    <!-- </div> -->
                  </md-item-content>
	                </a>
              </md-item>
               <md-item  md-ink-ripple layout="column" class="md-padding"> 
              
		            <!--     <a href="https://livestream-srv.herokuapp.com/demos/Video-Broadcasting.html" target="blank"> -->
		                <a href="http://localhost:9001/demos/video-broadcasting.html" target="blank">
		                	 	<md-tooltip
			              md-direction="right">
			              Admin
	                </md-tooltip>
                    <md-item-content  layout-align="start center" class="sidenav-link">
                   <!--  <div class="inset"> -->
                      <!-- <md-button class="md-no-focus" > -->
                        <i class="material-icons" style="fill: #0275d8">lock</i>
                      <!-- </md-button> -->
                    <!-- </div> -->
                   
                  </md-item-content>
	                </a>
             
              </md-item> 
            </md-list>
  </md-sidenav>

<!-- END OF SIDENAV -->

<!-- MAIN CONTENT -->

<md-content layout="column" flex>

				<style type="text/css">
					#eyes{
		padding-top: 12px;
		min-height: 20px;
	}
				</style>

<!-- TOOLDBAR START -->
              <md-toolbar style="background-color: white;" >
                <div class="md-toolbar-tools">
                     <!-- <md-button md-ink-ripple> -->
                        <!-- <i style="color:black" class="material-icons">search</i> -->
                  <!-- </md-button> -->
                   <md-input-container  md-no-float id="eyes" class="md-block"  flex-offset="5" flex="85">
                   	<div id="eyes">

                          <input ng-model="sessionSearch" placeholder="search sessions">
                      </div>	
                	<md-tooltip
			              md-direction="bottom">
			              search through upcoming sessions
	                </md-tooltip>
                    </md-input-container> 
                    
          			<md-button md-no-ink class="md-icon-button" flex ng-click="showProfile()">
          				<!-- <p>your profile</p> -->
                      <i style="color:black; height: auto"  class="material-icons">person_pin</i>
                      
                    	<md-tooltip
			              md-direction="bottom">
			              your profile
	                </md-tooltip>
                    </md-button>
                </div>
            </md-toolbar> 
<!-- TOOLDBAR END -->

<!-- UPCOMING SESSIONS START -->
 			<div class="column" flex="25"><!-- upcoming sessions -->
                 <div style="padding-left: 30px"> 
                <h1 >Upcoming Sessions</h1>
                </div>
                  <div style="padding-left: 30px;padding-right: 30px;" layout="row">
                    <div layout="row">

                      <div class="parent" layout="column" ng-repeat="s in sessions | filter: sessionSearch track by $index" flex >
                        <style type="text/css">
                          .session{
                            background-color: white;
                            /*cursor: pointer;*/
                            /*cursor: hand;*/
                          }
                          /*.session:hover{
                         
                            cursor: pointer;
                            cursor: hand;
                          }*/
                        </style>
                       <md-list-item class="md-padding">
                        <md-card class="session" >
                          <md-card-content >
                            <small>{{s.data.date}}</small>
                            <p>{{s.data.title}}</p>
                          </md-card-content>
                          <div class="md-actions" layout="row" layout-align="start center">
                            <md-button md-ink-ripple ng-disabled="true">
                            <i  class="fa fa-heartbeat" aria-hidden="true"></i>
                          </md-button>  
                             <a href="{{s.data.link}}">
                          <md-button ng-disabled="{{s.data.disabled}}">
                  
                             <small>join</small>
                 			
                 			<md-tooltip
					              md-direction="right">
					              {{s.data.message}}
			                </md-tooltip>
                          </md-button>    
                        </a>
                          </div>       
                        </md-card>

                        <div ng-show="!(sessions| filter: sessionSearch).length">
                        <STRONG>No sessions yet, wait for Joey B.</STRONG>
                      </div>
                      </md-list-item>
                      
                      </div>

                    </div>
                    </div> 
                </div><!-- upcoimg sessions end -->
           

<!-- UPCOMING SESISONS END -->

<!-- PORTFOLIO START -->

            <div layout="column" flex style="padding-right: 30px;padding-left: 30px">
                  <div> 
                      <h1 >Portfolio</h1>
                 </div>
                  <!-- search for new data -->
                   <div layout="row" >

                    <form ng-submit="getData(newUser)">
                      <md-input-container flex="33"  md-no-float class="md-block">

                              <!-- <label>See your Portfolio</label> -->
                              <input ng-model="newUser" placeholder="Mark Cuban">
                              <md-tooltip
					              md-direction="top">
					              enter your name, see your data
			                </md-tooltip>
                        </md-input-container> 
                        
                        </form>
                        <div >
                          <md-button md-no-ink ng-click="getData(newUser)">
                            <md-icon class="material-icons">search</md-icon>
                            <md-tooltip
					              md-direction="top">
					              click, or hit ENTER key
			                </md-tooltip>
                          </md-button>
                        </div>


                   </div>
                     
                  <div ng-cloak layout="column">
                  
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                              <md-tab label="Investments">

                                  <md-content class="md-padding">
                                       <!-- <div class="row"> -->
                                          <!-- <div class="col-md-6"> -->
                                            <table ng-table="tableParams"  class="table table-condensed table-bordered table-striped">
                                              <tr ng-repeat="i in investments" >
                                                <td ng-click="compare(i)" data-title="'Name'">
                                                	<a>{{i.name}}</a>
                                                	 <md-tooltip
											              md-direction="top">
											              click to compare
									                </md-tooltip>
                                                </td>
                                                <td data-title="'$ Raised'" >{{i.raised}}</td>
                                                <td data-title="'# Employees'">{{i.minEmployees}} - {{i.maxEmployees}}</td>
                                                <td data-title="'Description'">{{i.description}}</td>
                                              </tr>
                                            </table>
                                          <!-- </div> -->
                                        <!-- </div> -->
                                  </md-content>
                              </md-tab>

                              <md-tab label="Founded Companies">
                              
                                  <md-content class="md-padding">
                                        <!-- <div class="row"> -->
                                          <!-- <div class="col-md-6"> -->
                                            <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
                                              <tr ng-repeat="c in founded_companies" >
                                                <td ng-click="show(c)" data-title="'Name'" ><a>{{c.properties.name}}</a>
                                                 <md-tooltip
											              md-direction="top">
											              click to see more
									                </md-tooltip>
									            </td>
                                            	
                                                <td data-title="'# Employees'">{{c.properties.num_employees_min}} - {{c.properties.num_employees_max}}</td>
                                                <td data-title="'Description'">{{c.properties.short_description}}</td>
                                                <td data-title="'Founded'">{{c.properties.founded_on}}</td>
                                              </tr>
                                            </table>
                                          <!-- </div> -->
                                        <!-- </div> -->
             
                                  </md-content>
                              </md-tab>
                        </md-tabs>
                    </md-content>
                </div> 
   
  
      </div>


<!-- PORTFOLIO END -->
</md-content>
<!-- END OF CONTENT -->