 <md-sidenav   layout="column" style="" class="md-sidenav-left md-whiteframe-z2"    md-is-locked-open="$mdMedia('gt-md')" >
            <md-list>
              <md-item ng-repeat="item in menu" md-ink-ripple layout="column" class="md-padding">
	                <a ui-sref="dash">
                  	 <md-tooltip
			              md-direction="right">
			              Dashboard
	                </md-tooltip>
                  <md-item-content >
                    <!-- <div class="inset"> -->
                      <!-- <md-button class="md-no-focus"> -->
                        <i class="material-icons">{{item.icon}}</i>
                      <!-- </md-button> -->
                    <!-- </div> -->
                  </md-item-content>
	                </a>
              </md-item>
               <md-item  md-ink-ripple layout="column" class="md-padding"> 
              
		                <a href="https://livestream-srv.herokuapp.com/demos/Video-Broadcasting.html" target="blank">
		                	 	<md-tooltip
			              md-direction="right">
			              Admin
	                </md-tooltip>
                    <md-item-content  layout-align="start center" class="sidenav-link">
                   <!--  <div class="inset"> -->
                      <!-- <md-button class="md-no-focus" > -->
                        <i class="material-icons" style="fill: #0275d8">lock</i>
                      <!-- </md-button> -->
                    <!-- </div> -->
                   
                  </md-item-content>
	                </a>
             
              </md-item> 
            </md-list>
  </md-sidenav>