
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }


.bg-skin-lp {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}
.md-button {
  color : currentColor;
}

/*.sidenav-link:hover {
  background-color: rgba(158, 158, 158, 0.2);
}*/

a{
  color:white;
}
.linkedin{
  color: white;
}
/*md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 45px !important;
    width: 50px !important;
    max-width: 55px !important;
    background-color: black;
} 
*/

/*md-toolbar .sidebar .md-toolbar-tools .md-hue-2{
    background-color: black;
}*/
.searchbar {
    background-color: white;
}

md-toolbar.md-default-theme.md-hue-2 {
    background-color: #455A64
;
    color:white;
    }

md-toolbar.md-default-theme{
    background-color: white;
    color:black;
}




/* Important to set height for column layout */
.boxWithHeight {
  box-sizing: border-box;
  height: 100%;
}
 section {
  border: 5px solid rgba(85, 97, 85, 0.27);
  margin: 5px;  
}

section {
  background-color: #dedede;
}

/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
*/
